*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url('img/clock.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container img{
    position: absolute;
    top: 48%;
    
}
.large{
    /*transform: rotate(-90deg);*/
    left: 1.5%;
}
.medium{
    /*transform: rotate(-55deg);*/
    left: 2%;
}
.short{
    /*transform: rotate(0deg);*/
    left: 3%;
}